.price-tag {
    text-align: left;
    font-size: 40px;
}

.product-image {
    width: 480px;
    height: 240px;
}

.add-to-shopping-cart {
    width: 30px;
    height: 30px;
}

.header-link {
    color: black;
    text-decoration: none;
}
